*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
